body {
    background: lightgrey;
    color: #777777;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-image: url("Basic-Portfolio/assets/pentagon.png");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color:#666666;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  .img {
      float: left;
      border: solid white;
      height: 215px; 
      width: 210px;

  }

  .aboutme {
    margin: 40px;
    height: 350px;
    background-color: white;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    
  }

  .ptext {
      float: right;
      color: yellow;
  }

 
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
  }

/*Form-Style*/
* {
  box-sizing: border-box;
}

.form {
  margin: 70px;
  width: 820px;
  padding-top: 20px;
  padding: 50px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #666666;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}


.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Portfolio-Style*/

table {
  background-color: white;
  width: 60%;
}

td {
  padding: 5px;
}

.tablepic {
  margin: 120px;
  padding: 10Px;
  align-content: center;
}